.Game {
    flex-grow: 1;

    display: flex;

    justify-content: space-around;
    align-items: center;
}

@media (pointer: coarse), ((pointer: fine) and (max-width: 768px))
{
    .Game {
        flex-direction: column;
        gap: 5vmin;
    }
}

@media ((pointer: fine) and (min-width: 768px))
{
    .Game {
        flex-direction: row;
    }
}