.History {
    border-radius: 4vmin;

    overflow-y: scroll;
    scrollbar-track-color: red;

    background-color: black;
}

.History::-webkit-scrollbar {
    display: none;
}

.HistoryList {
    margin: 0;
    padding: 3vmin;
    list-style: none;
}

@media (pointer: coarse), ((pointer: fine) and (max-width: 768px))
{
    .History {
        width: 60vmin;
        flex-grow: 1;
    }
}

@media ((pointer: fine) and (min-width: 768px))
{
    .History {
        height: 80vmin;
        aspect-ratio: 5/10;
    }
}