.HistoryListItem-button {
    box-sizing: border-box;

    margin: 1vmin 0 1vmin 0;
    padding: 2vmin;

    width: 100%;

    border: none;
    border-radius: 2vmin;

    background-color: var(--light);
    color: black;

    text-align: left;
}

.HistoryListItem-button:hover {
    background-color: white;
}