/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    /* Color Palette */
    --dark: #333;
    --light: #DDD;
    --square-background: #7096ff;
    --square-active: #80AAff;

    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    background-color: var(--dark);
}

body * {
    font-family: 'Rubik', sans-serif;
}