.Square {
    margin: 0;

    aspect-ratio: 1/1;

    background-color: var(--square-background);
    border-radius: 5vmin;
    border: none;

    font-size: 10vmin;
}

.Square:hover {
    background-color: var(--square-active);
}